{% if page.title %}
  {% assign title = page.title | append: ' - ' | append: site.title %}
{% else %}
  {% assign title = site.title | append: ' - '| append: site.description %}
{% endif %}
{% assign description = page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape %}
{% assign bg_image = page.background | default: page.thumbnail | default: "/img/bg/index.jpg" %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ title }}</title>

  <meta name="description" content="{{ description }}">

  <meta name="google-site-verification" content="wGN_mZVjgAC8sdItYCBTkSMwLrgNSWPY6sicU3MuSQw" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap">
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />

  <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ title }}" href="{{ "/feed.xml" | relative_url }}">

  <link rel="apple-touch-icon" href="/img/favicon-128.png">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

  <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="{{ site.title | escape }}"/>
  <meta prefix="og: http://ogp.me/ns#" property="og:type" content="blog"/>
  <meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ title }}"/>
  <meta prefix="og: http://ogp.me/ns#" property="og:description" content="{{ description }}"/>
  <meta prefix="og: http://ogp.me/ns#" property="og:locale" content="ko_KR"/>
  <meta prefix="og: http://ogp.me/ns#" property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}"/>
  <meta prefix="og: http://ogp.me/ns#" property="og:image" content="{{ bg_image }}">

</head>
