<!-- Navigation -->
{% if page.layout == 'home' %}
<nav class="navbar">
{% else %}
<nav class="navbar" style="background-color: white;">
{% endif %}
  <div class="navbar-content container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-button font-bold-5" id="toggleButton" type="button" data-toggle="collapse" aria-controls="navbarResponsive" aria-expanded="false">
      MENU
      <i class="fa fa-bars"></i>
    </button>
    <div class="navbar-nav" id="navbarResponsive" aria-hidden="true">
      <div class="nav-item">
        <a class="nav-link font-bold-4" href="{{"/about" | relative_url }}">ABOUT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link font-bold-4" href="{{ "/posts" | relative_url }}">POSTS</a>
      </div>
      <div class="nav-item">
        <a class="nav-link font-bold-4" href="{{"/archive" | relative_url }}">ARCHIVES</a>
      </div>
    </div>
  </div>
</nav>
