---
layout: default
---

<div class="main">
  <!-- Main Banner -->
  <div class="banner-content">
    <div class="banner-component container">
      <div class="banner-thumbnail">
        <div class="image-layer">
          <img class="animate-fade-in-scale-up" src="/img/bg/miintto-bg.png">
        </div>
        <div class="image-layer" style="margin: 15%; background-color: #EEF3F5;">
          <img class="animate-fade-in-delay" src="/img/profile.png">
        </div>
      </div>
      <div class="banner-description">
        <div class="home-title animate-fade-in-down-delay-1">
          <span> 미민또의 프로그래밍 </span>
        </div>
        <div class="home-subtitle animate-fade-in-down-delay-2">
          <p>안녕하세요! 백엔드 엔지니어 박민재입니다.<br>평소 관심있거나 공부한 자료들 여기 담아보았습니다.</p>
        </div>
        <div class="banner-button animate-fade-in-down-delay-3">
          <a href="/about">
            <div class="about-me-button">About Me &rarr;</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="home-content">
    <!-- Recent Posts -->
    <div class="recent-content animate-fade-in-up">
      <div class="content-title">
        <h1>Recent Posts</h1>
      </div>
      <div class="recent-wrapper">
        <div class="recent-content-list">
        {% assign posts_subset = site.posts | slice: 0, 6 %}
        {% for post in posts_subset %}
          <div class="recent-article post-effect">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <div class="recent-thumbnail" style="background-color: #EEF3F5;">
                <img class="animate-fade-in-delay" src="{{ post.thumbnail }}">
              </div>
              <div class="recent-post-preview">
                <div class="post-meta">
                  <p class="post-meta-category">
                    {% assign category_letters = post.category | split: ' ' %}
                    {% for word in category_letters %}{% assign capitalized_word = word | capitalize %}{{ capitalized_word }} {% endfor %}
                  </p>
                  <p>|</p>
                  <p>
                    {{ post.date | date: '%Y.%m.%d' }}
                  </p>
                </div>
                <p class="recent-title font-title">{{ post.title }}</p>
              </div>
            </a>
          </div>
        {% endfor %}
        </div>
        <div class="recent-sub">
          <a href="{{"/posts" | relative_url }}">
            <div class="round-button post-link">
              <div>See All Posts &rarr;</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="image-content">
      <img src="/img/bg/developer.png" style="max-width: 300px;">
    </div>
  </div>
</div>
