---
layout: default
---

<div class="article">
  <div class="article-wrapper">
    <div class="article-header">
      <div class="article-info">
        <div class="article-title font-bold-0 animate-fade-in-down-delay-1">{{ page.title }}</div>
        <div class="post-tags animate-fade-in-down-delay-2">
          {% for tag in page.tags %}<p>{{ tag | escape }}</p>{% endfor %}
        </div>
        <div class="article-meta font-light-2 animate-fade-in-down-delay-3">
          {{ page.date | date: '%Y.%m.%d' }} &middot; {% include read_time.html content=page.content %}
        </div>
      </div>
      <div class="article-banner">
        <div class="article-banner-thumbnail" style="background-color: #EEF3F5;">
          <img class="animate-fade-in-delay" src="{{ page.thumbnail }}">
        </div>
      </div>
    </div>

    <div class="article-content animate-fade-in-up">
      {% include toc.html %}

      {{ content }}

      <hr>

      <div id="disqus_thread"></div>
      <script>
          (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://miintto-github-io.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

      <hr>

    </div>
  </div>
</div>
